/* ==========================================================================
	#Fonts
========================================================================== */
@font-face {
    font-family: 'Levi Brush';
    src: url('fonts/levibrush-webfont.eot');
    src: url('fonts/levibrush-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/levibrush-webfont.woff2') format('woff2'),
         url('fonts/levibrush-webfont.woff') format('woff'),
         url('fonts/levibrush-webfont.ttf') format('truetype'),
         url('fonts/levibrush-webfont.svg#levibrushregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Save Artctic';
    src: url('fonts/save_the_arctic_web-webfont.eot');
    src: url('fonts/save_the_arctic_web-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/save_the_arctic_web-webfont.woff2') format('woff2'),
         url('fonts/save_the_arctic_web-webfont.woff') format('woff'),
         url('fonts/save_the_arctic_web-webfont.ttf') format('truetype'),
         url('fonts/save_the_arctic_web-webfont.svg#save_the_arctic_webbold') format('svg');
    font-weight: normal;
    font-style: normal;
}